<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/coins/{{item.coin.id}}">
        <img [src]="item.coin.imageUrl"/>
      </a>
    </td>
    <td>
      {{item.coin.name}}
    </td>
    <td>
      {{item.coin.price | currency}}
    </td>
    <td>
      {{item.quantity}}
    </td>
    <td>
      {{item.price | currency}}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong>
        Total:
      </strong>
    </td>
    <td>
      {{order.totalPrice | currency}}
    </td>
  </tr>
</table>
