<app-not-found
  [visible]="!coin"
  notFoundMessage="Coin not found"
  resetLinkText="Back To Homepage"
  >
</app-not-found>

<div *ngIf="coin" class="container">
  <img [src]="coin.imageUrl" [alt]="coin.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{coin.name}}
      </span>
      <span class="favorite {{coin.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating
      [value]="coin.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true"
      >
      </star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of coin.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of coin.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="price">
      <span>
        {{coin.price | currency:'HUF'}}
      </span>
    </div>

    <button (click)="addToCart()">Add to Cart</button>

  </div>
</div>
